.InputForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;

  .text-container{
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    span{
      color:#AAAAAA;
      font-size: 14px;
      font-family: "Regular";
      font-weight: 400;
      height: 12px;
      max-width: 250px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
    }
  }

  .svg-container {
    svg {
      position: absolute;
      right: 20px;
      top: 43px;
      width: 16px;
      height: 16px;
      cursor: pointer;
    }
  }

  label {
    display: block;
    color: #333333;
    font-size: 16px;
    margin-bottom: 12px;
    font-family: "Medium";
  }

  input {
    border: 2px solid #dddddd;
    border-radius: 8px;
    outline: none;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    font-family: "Medium";
    padding-left: 16px;

    &:focus {
      outline: none;
      border: 2px solid #1f81b9;
    }

    &.error {
      border: 2px solid #d44848;
    }

    &::placeholder {
      font-size: 14px;
      font-family: "Regular";
      color: #bbbbbb;
    }

    &:disabled {
      background-color: #dddddd;

      &::placeholder {
        color: #666666;
      }
    }
  }

  .errormessage {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin-top: 8px;
    font-family: "Regular";
    font-size: 12px;
    color: #d44848;
    svg {
      position: relative;
    }
  }
}
