.Sidebar {
  background-color: #2d3748;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  overflow: hidden;
  padding: 20px;

  nav ul {
    list-style-type: none;
    padding: 0;

    li {
      margin: 20px 0;
      font-size: 18px;

      a {
        color: white;
        text-decoration: none;
        transition: color 0.2s;

        &:hover {
          color: #cbd5e0; /* Lighter color on hover */
        }
      }
    }
  }
}
